<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "org.d3t0ur.employeedirectory"
        versionCode = "10"
        version     = "1.1.0">
 
    <name>Emp Dir</name>
 
    <description>
        A simple employee directory application
    </description>
 
    <author href="http://some.where" email="d3t0ur@hotmail.com">
        Credits to Christophe Coenraets
    </author>
    
    <icon src="img/icon-57-2x.png" />
    <gap:splash src="splash.png" />
    <gap:splash src="img/Default@2x.png" gap:platform="ios" width="640" height="960" />
    
    <preference name="fullscreen" value="true" />
 
    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/contacts"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
    <feature name="SplashScreen">
        <param name="ios-package" value="CDVSplashScreen" />
    </feature>
 
</widget>